{% extends "index.html"%}
{%block contenido%}
<div class="p-4 d-flex justify-content-cente">
    <div class="card container p-3" style="width: 25rem; height: 37rem;">
        <h4 style="display:flex; justify-content:center;">Actualizar Pelicula</h4>
        <form action="/actualizarPelicula/" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div>
                <label for="txtCodigo">Codigo:</label>
                <input type="text" name="txtCodigo" id="codigo" class="form-control" value="{{pelicula.pelCodigo}}">
            </div>
            <div>
                <label for="txtTitulo">Titulo:</label>
                <input type="text" name="txtTitulo" id="titulo" class="form-control" value="{{pelicula.pelTitulo}}">
            </div>
            <div>
                <label for="txtProtagonista">Protagonista:</label>
                <input type="text" name="txtProtagonista" id="protagonista" class="form-control"
                    value="{{pelicula.protagonista}}">
            </div>
            <div>
                <label for="txtDuracion">Duracion:</label>
                <input type="text" name="txtDuracion" id="duracion" class="form-control" value="{{pelicula.pelDuracion}}">
            </div>
            <div>
                <label for="txtResumen">Resumen:</label>
                <textarea type="text" name="txtResumen" id="resumen" cols="30" rows="3"
                    class="form-control">{{pelicula.pelResumen}}</textarea>
            </div>
            <div>
                <label for="cbGenero">Genero:</label>
                <select name="cbGenero" id="" class="form-select">
                    <option value="">Seleccione</option>
                    {%for g in generos%}
                    {% if g.id == pelicula.genero.id %}
                    <option value="{{g.id}}" selected>{{g.genNombre}}</option>
                    {%else%}
                    <option value="{{g.id}}">{{g.genNombre}}</option>
                    {%endif%}
                    {%endfor%}
                </select>
            </div>
            <div>
                <label for="fileFoto">Foto:</label>
                <input type="file" id="fileFoto" name="fileFoto" class="form-control">
            </div>
            <div class="pt-3">
                <button class="btn btn-outline-primary">Actualizar</button>
            </div>
            <input type="hidden" name="idPelicula" value="{{pelicula.id}}">
        </form>
    </div>
</div>
{% endblock%}