{% extends "index.html"%}
{%block contenido%}
<div class="p-4">
    <div class="card container p-3" style="width: 25rem; height: 12rem;">
        <h3>Agregar Genero</h3>
        <form action="/agregarGenero/" method="post">
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" name="txtNombre" id="nombre" class="form-control">
            </div>
            <div class="pt-2">
                <a href="/inicio/">
                    <button class="btn btn-outline-primary">Agregar</button>
                </a>
            </div>
        </form>
    </div>
    <div>{{ mensaje }}</div>
</div>
{% endblock%}