{% extends "index.html"%}
{%block contenido%}
<div class="pt-4" style="align-items: center; display: flex; flex-direction: column;">
    <a href="/vistaAgregarPeliculas/">
        <button class="btn btn-outline-info">Agregar</button>
    </a>
</div>
{% load static%}
<script src="{% static '../static/js/app.js'%}"></script>
<div class="container pt-4" style="align-items: center; display: flex; flex-direction: column;">
    <title>Listado De Peliculas</title>
    <table class="table table-bordered gap-2">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Protagonista</th>
                <th>Resumen</th>
                <th>Duracion</th>
                <th>Foto</th>
                <th>Genero</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {%for p in peliculas %}
            <tr>
                <td>{{p.pelCodigo}}</td>
                <td>{{p.pelTitulo}}</td>
                <td>{{p.pelProtagonista}}</td>
                <td>{{p.pelResumen}}</td>
                <td>{{p.pelDuracion}} min</td>
                <td>
                    <img src="../media/{{p.pelFoto}}" width="50" height="50" alt="">
                </td>
                <td>{{p.pelGenero.genNombre}}</td>
                <td class="gap-1 d-flex ">
                    <a href="/consultarPelicula/{{p.id}}">
                        <button class="btn btn-outline-warning"><ion-icon name="create-outline"></ion-icon></button>
                    </a>
                    <button class="btn btn-outline-danger" onclick="eliminarPelicula('{{p.id}}')"><ion-icon
                            name="trash-outline"></ion-icon></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div
    style="align-items: center; display: flex; flex-direction: column; justify-content:flex-end ;">
    <a href="/">
        <button class="btn btn-outline-danger">Salir</button>
    </a>
</div>
{% endblock%}